{% extends '../shared/layout/main.twig' %}
{% block title %}{{ 'title.welcome' | translate }}{% endblock %}
{% block content %}
    <h1>{{ 'title.welcome' | translate }}, <b>{{ principal.name }}</b>!</h1>
{% endblock %}