{% extends './layout-link.twig' %}
{% import '../../shared/macro/fields.twig' as fields %}
{% block title %}{{ 'label.psy.name' | translate }}{% endblock %}
{% block content %}
    <div class="page-header mb-4">
        <h1 id="tables">{{ 'label.psy.name' | translate }}</h1>
    </div>
    {% for i in [1..377] %}
        <h1>{{ 'mmpi2.male.q' ~ i | translate }}</h1>
    {% endfor %}
{% endblock %}