{% macro text(source, name, separator) %}
    {% set result = '' %}
    {% if source.hasFieldErrors(name) %}
        {% for field in source.getFieldErrors(name) %}
            {% set result = result ~ field.getDefaultMessage() ~ default(separator, '<br />') %}
        {% endfor %}
    {% endif %}
    {{ result }}
{% endmacro %}
{% macro error(source, name) %}
    {% import _self as fields %}
    {% set text = '<div class="invalid-feedback">' ~ fields.text(source, name) ~ '</div>' %}
    {{ fields.ifError(source, name, text) }}
{% endmacro %}
{% macro ifError(source, name, value) %}
    {% if source.hasFieldErrors(name) %}{{ value }}{% endif %}
{% endmacro %}