.str {
    color: #0abfa6
}

.kwd {
    color: #f74d5c
}

.com {
    color: #66747B
}

.typ {
    color: #678CB1
}

.lit {
    color: #b0b749
}

.pln, .pun {
    color: #fff
}

.tag {
    color: #8AC763
}

.atn {
    color: #E0E2E4
}

.atv {
    color: #EC7600
}

.dec {
    color: purple
}

pre.prettyprint {
    border: 0 solid #888;
    padding: 15px;
    border-radius: 8px;
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0
}

.prettyprint {
    background: #000
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
    color: #555;
    list-style-type: decimal
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #111
}

@media print {
    .kwd, .tag, .typ {
        font-weight: 700
    }

    .str {
        color: #060
    }

    .kwd {
        color: #006
    }

    .com {
        color: #600;
        font-style: italic
    }

    .typ {
        color: #404
    }

    .lit {
        color: #044
    }

    .pun {
        color: #440
    }

    .pln {
        color: #000
    }

    .tag {
        color: #006
    }

    .atn {
        color: #404
    }

    .atv {
        color: #060
    }
}