{% extends './layout-link.twig' %}
{% import '../../shared/macro/fields.twig' as fields %}
{% block title %}{{ 'label.shoper.name' | translate }}{% endblock %}
{% block content %}
    <div class="page-header mb-4">
        <h1 id="tables">{{ 'label.shoper.name' | translate }}</h1>
    </div>
{% endblock %}