<div class="btn-group mb-3" role="group">
    <button onclick="window.location = '{{ relative('/system/setting') }}'" type="button" class="btn btn-secondary">{{ 'title.setting' | translate }}</button>
    <button onclick="window.location = '{{ relative('/system') }}'" type="button" class="btn btn-secondary">{{ 'title.status' | translate }}</button>
</div>