<footer id="footer">
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <p>
                        <a class="text-white" href="https://adminfly.me/" target="_blank">AdminFly</a> &bull;
                        <a class="text-white" href="mailto:ihontarenko@gmail.com">Ivan Hontarenko</a> &bull;
                        <a class="text-white" href="https://github.com/papajaOrg/adminfly" target="_blank">GitHub</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>